.table__head {
    font-weight: 800;
    background-color: rgba(lavender, 0.5);
}

.withPopup {
    .popup {
        display: none;
    }
    &:hover {
        cursor: context-menu;
        .popup {
            display: flex;
            position: fixed;
            max-width: 180px;
            text-align: left;
        }
    }
}

.table__portfolio {
    background-color: rgba(rgb(230, 250, 243), 0.5);
}

.table__note {
    max-width: 100px;
}